@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Monoton&family=Oswald&family=Play&family=Radley&display=swap');

.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
}

.red-circle {
  position: absolute;
  background-color: #311717;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* box-shadow: 0px 0px 20px 20px rgba(255, 0, 0, 0.356); */
  place-self: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero-section > .hide-element > h1 {
  z-index: 3;
  font-family: "Monoton";
  font-size: 90px;
  color: red;
  margin: 0px;
  user-select: none;
  overflow: hidden;
  animation: moveIntoViewName 0.7s linear;
}

@keyframes moveIntoViewName {
  0% {
    transform: translateY(120px);
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveIntoViewOcc {
  0% {
    transform: translateY(-50px);
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hide-element {
  z-index: 3;
  overflow: hidden;
}

.hero-section > .hide-element > h2 {
  color: white;
  z-index: 2;
  user-select: none;
  animation: moveIntoViewOcc 0.7s linear;
}

.arrow-image {
  width: 70px;
  z-index: 3;
  transition: all 0.2s linear;
  user-select: none;
}

.arrow-image:hover {
  transform: scale(1.2)
}


