@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Monoton&family=Oswald&family=Play&family=Radley&display=swap');


body {
  font-family: "Play"
}

body {
  overflow-x:hidden
}

:root {
  color: white
}

.App {
  text-align: center;
  min-width: 100vw;
  min-height: 300vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-circle {
  position: absolute;
  background-color: #311717;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* box-shadow: 0px 0px 20px 20px rgba(255, 0, 0, 0.356); */
  place-self: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero-section > .hide-element > h1 {
  z-index: 3;
  font-family: "Monoton";
  font-size: 90px;
  color: red;
  margin: 0px;
  user-select: none;
  overflow: hidden;
  animation: moveIntoViewName 0.7s linear;
}

@keyframes moveIntoViewName {
  0% {
    transform: translateY(120px);
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveIntoViewOcc {
  0% {
    transform: translateY(-50px);
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hide-element {
  z-index: 3;
  overflow: hidden;
}

.hero-section > .hide-element > h2 {
  color: white;
  z-index: 2;
  user-select: none;
  animation: moveIntoViewOcc 0.7s linear;
}

.arrow-image {
  width: 70px;
  z-index: 3;
  transition: all 0.2s linear;
  user-select: none;
}

.arrow-image:hover {
  transform: scale(1.2)
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  max-width: 900px;
}

.tool-icon {
  height: 160px;
  width: 130px;
  background-color: #311717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tool-icon > h3 {
  margin: 0px;
  color: red;
  font-size: 26px;
}

.tool-icon > img {
  height: 110px;
}

.projects-location {
  font-family: "Monoton";
  font-size: 60px;
  color: red;
  margin: 0px;
  user-select: none;
  margin-bottom: 30px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.under-info {
  display: flex;
  justify-content: space-between;
  width: 80%
}

.name-and-detail {
  flex: 2;
  text-align: left;
}

.name-and-detail > h1 {
  margin: 0px;
  margin-top: 10px;
}

.name-and-detail > h1:hover {
  text-decoration: underline;
}

.name-and-detail > p {
  margin: 0px;
  font-size: 18px;
}

.tools-list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tools-location {
  font-family: "Monoton";
  color: red;
  font-size: 60px;
}

.tools-list > h3 {
  align-self: flex-end;
}

.tool-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-self: flex-end;
}

.project > a > img {
  width: 80%
}

.project > a {
  width: 100%;
}

a:link {
  color: rgb(255, 255, 255); /* Set the color for unvisited links */
  text-decoration: none; /* Remove underline for unvisited links */
}

/* Visited link */
a:visited {
  color: rgb(255, 255, 255); /* Set the color for visited links */
}

.tool-used-icon {
  height: 34px;
}

label {
  font-size: 24px;
  color: red;
  align-self: flex-start;
}

input {
  background-color: rgba(0, 0, 0, 0);
  font-size: 24px;
  color: red;
  border: 0px solid black;
  border-bottom: 2px solid red;
}

input:focus {
  outline: none
}

.name-and-email {
  display: flex;
  flex-direction: column;
  gap: 20px;;
}
.name-and-email > div, .text-area {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 28px;;
}

.form {
  display: flex;;
  gap: 10px;
}

textarea {
  background-color: black;
  border: 1px solid red;
  width: 278px;
  height: 79px;
  font-size: 24px;
  color: red;
}

textarea:focus {
  outline: none
}

.send-message {
  font-size: 24px;
  padding: 5px;
  background: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 0));
  background-repeat: no-repeat;
  background-size: 0%, 100%;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 0, 0);
  margin-top: 50px;;
  border: 3px solid rgb(255, 0, 0);
  transition: all 0.2s linear;
  margin-bottom: 50px;;
}

.send-message:hover {
  background-size: 100%, 100%;
  color: black
}

.hero-section {
  width: 100%
}

@media (max-width: 800px) {
  .hero-section > .hide-element > h1 {
    font-size: 15vw;
    margin: 0px;
    text-align: center;
  }

  .hero-section > .hide-element > h2 {
    font-size: clamp(16px, 6vw, 24px);
  }

  .red-circle {
    width: clamp(200px, 60vw, 300px);
    height: clamp(200px, 60vw, 300px);
  }

  .hide-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .under-info {
    flex-direction: column;
  }

  .tools-list > h3,
  .tool-pictures {
    align-self: flex-start;
  }

  .project > a > img {
    width: 90%;
  }

  .tool-used-icon {
    height: clamp(20px, 8vw, 33px);
  }

  .tools-location,
  .projects-location {
    font-size: 10vw;
  }

  .name-and-detail > h1 {
    font-size: clamp(25px, 5vw, 32px)
  }

  .name-and-detail > p {
    font-size: clamp(10px, 5vw, 18px)
  }
}

@media (max-width: 500px) {
  .tool-icon > h3 {
    font-size: clamp(20px, 5vw, 26px)
  }

  .tool-icon > img {
    height: clamp(70px, 20vw, 110px)
  }

  .tool-icon {
    width: auto;
    height: auto;
    padding: 6px;
  }

  
}
